
.custom-main h1, .swap-main h1{
    font-size: 18px;
    font-weight: 40px;
    line-height: 30.6px;
    padding: 0px 200px;
    margin-bottom: 100px;
}

.checker{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #1b17262c;
    margin-left: 30px;
    margin-top: 30px;
}

.checker i{
    color: #0ABD1C;
    padding: 15px;
    background-color: #fff;
    border-radius: 50px;
}

.checker p{
    font-size: 14px;
    font-weight: 500;
    line-height: 23.8px;
    color: #1b1726;
    margin-left: 20px;
    margin-top: -5px;
}

.capture{
    background-image: url("/public/vec.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: right;
    background-position-y: -10px;
}
.capture h2{
    font-size: 32px;
    font-weight: 700;
    color: #000;
    line-height: 44.8px;
    text-transform: capitalize;
    padding: 20px 150px;
}

.capture span{
    color: #ef6507;
}

.infograph p{
    font-size: 12px;
    line-height: 19.2px;
    font-weight: 400;
}

.info-top{
    margin-top: 100px;
    margin-bottom: 0px;
}


.info-bottom{
    margin-bottom: -100px;
}

.info-top p, .info-bottom p{
    z-index: 30 !important;
    padding: 50px 70px;
    text-align: center;
    margin-left: -50px;
}

.infograph img{
    z-index: 1 !important;
    margin-top: 50px;
    margin-bottom: -80px;
    align-content: center;
}