.custom-amount{
    justify-content: space-around;
}

.amount-raised {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    padding-left: 5px;
    margin-top: -20px;
  }

  
@media screen and (max-width: 960px) {
    .custom-amount .btn-outline-dark{
        width: 100% !important;
        flex-wrap: wrap;
        margin: 10px;
        font-size: 12px;
    }
    .our-types-future img{
        width: 97% !important;
    }
    .clients {
        display: none;
    }
}