.blog{
    margin-top: 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.308);
    padding-bottom: 50px;
}

.category{
    color: #ef6507;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    padding-left: 20px;
}

.blog img{
    margin-top: 50px;
}

.blog h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    padding-left: 20px;
}

.swap-update {
    margin-top: 70px;
}
.swap-update h2{
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
}

.swap-update p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.swap-update a{
    color: #ef6507;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: 40px ;
}

.inner-blog{
    margin-top: 50px;
    margin-bottom: -50px;
}

.inner-blog hr{
    padding-left: 20px;
}

.inner-blog h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    padding-left: 20px;
}

.blog-date{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.blog-date h6{
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.685);
    text-align: left;
}